# Build results
bin/
obj/
*.dll
*.exe
*.app
*.log

# Rider
.idea/
*.sln.iml

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET secrets
secrets.json

# VS Code (если используешь)
.vscode/

# Temporary files
*.tmp
*.bak
*.old

# .NET artifacts
project.lock.json
project.fragment.lock.json
artifacts/
